{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>About</h2>
        <hr />
        <p>
        This is a website made with pasion by a group of latino students from Georgia Tech!
        This is a website with a curated list of movies that we love and we want to share with you!
        Feel free to purchase with a few clicks some of the timeless classics, the best comedies, the most action packed movies
        and the best romantic scenes that the movie industry has to offer!
        </p>
        <p>
        You can use our amazing platform in numerous divices, including your phone, tablet, or laptop,
        we even seen people using our website in a Samsung Fridge! Just kidding, but you get the point!
        Just create an account, login, and start with this amazing journey.
        </p>
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{% static 'img/about.jpg' %}"
             class="max-width-100"
             alt="about" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}
