{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <!-- Movie Details Section -->
      <div class="col-md-7 mx-auto mb-3">
        <h2>{{ template_data.movie.name }}</h2>
        <hr />
        <p><b>Description:</b> {{ template_data.movie.description }}</p>
        <p><b>Price:</b> ${{ template_data.movie.price }}</p>
        <form method="post" action="{% url 'cart.add' id=template_data.movie.id %}">
          {% csrf_token %}
          <div class="row">
            <div class="col-auto">
              <div class="input-group col-auto">
                <div class="input-group-text">Quantity</div>
                <input type="number" min="1" max="10" class="form-control quantity-input" name="quantity" value="1">
              </div>
            </div>
            <div class="col-auto">
              <button class="btn bg-dark text-white" type="submit">Add to cart</button>
            </div>
          </div>
        </form>

        <!-- Reviews Section -->
        <h2>Reviews</h2>
        <hr />
        <ul class="list-group">
          {% for review in template_data.reviews %}
          <li class="list-group-item pb-3 pt-3">
            <h5 class="card-title">Review by {{ review.user.username }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ review.date }}</h6>
            <p class="card-text">{{ review.comment }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>

      <!-- Movie Poster Section (Adjusted for Better Fit) -->
      <div class="col-md-5 mb-3 text-center">
        <img src="{{ template_data.movie.image.url }}" class="rounded img-fluid img-movie">
      </div>
    </div>
  </div>
</div>
{% endblock content %}