

.bg-index {
  background: url("/static/img/main.png") no-repeat fixed;
  background-size: cover;
}

.bg-index-with-gap {
  background: url("/static/img/main.png") no-repeat fixed;
  background-size: cover;
  padding: 20px 0; /* Add padding to create a gap */
}

.navbar a.nav-link {
  color: #f8f6ff !important;
}

.bg-dark {
  background-color: #2e2e2e !important;
}

.ms-footer {
  background-color: #5d1717;
}

.ms-footer p {
  color: #cfc9c9;
  font-size: 13px;
}

.ms-footer a:hover {
  color: #4039ff;
  text-decoration: none;
}

.ms-footer-bottom span {
  font-size: 13px;
  line-height: 38px;
}

.ms-footer-bottom a {
  color: #e11818;
  text-decoration: none;
}

.ms-footer-bottom a:hover {
  color: #500303;
}

.img-card-200 {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
}

.img-card-400 {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: contain;
}

.img-movie {
  width: 100%; /* Ensure the image takes the full column width */
  max-width: 400px; /* Adjust this to control max size */
  height: auto; /* Keep aspect ratio */
  display: block;
  margin: auto;
}

.body-bg {
  background-image: url("/static/img/main.png"); /* Path to your body background image */
  background-repeat: no-repeat;
  background-size: cover; /* Cover the entire viewport */
  background-attachment: fixed; /* Make the background image fixed */
  position: relative;
  min-height: 100vh; /* Ensure it covers the entire viewport height */
  z-index: -1; /* Ensure it is behind other content */
}

.content {
  position: relative;
  z-index: 1; /* Ensure content is above the background image */
}

.content-gap {
  padding: 20px 0; /* Add padding to create a gap */
}

.navbar, .footer {
  background: transparent; /* Ensure transparency to show the body background */
}